footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: black;
}

footer .footerLogo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

footer .footerSections {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  border-bottom: 0.1px solid rgb(85, 85, 85);
}

footer .footerSections .footerSection {
  width: 100%;
  height: 30dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

footer .footerSections .footerSection a {
  color: white;
  font-weight: 400;
  transition: all 0.2s;
}

footer .footerSections .footerSection a:hover {
  color: rgb(61, 211, 238);
  letter-spacing: 1.5px;
}

footer .footerSocialsAndName {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer .footerSocials {
  gap: 10px;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

footer .footerSocials a {
  transition: all 0.5s;
}

footer .footerSocials a:hover {
  border-bottom: 0.5px solid white;
  transform: translateY(-5px);
}

footer .footerName {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: white;
}

/* RESPONSIVE */

@media (max-width: 950px) {
  footer .footerSections {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  footer .footerSections {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (max-width: 300px) {
  footer .footerSections {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  footer .footerSocialsAndName {
    justify-content: space-evenly;
    flex-direction: column;
  }
}
